*.tfstate               # Infrastructure condition
*.tfstate.backup        # Infrastructure state backup
*.terraform/             # Terraform module directories
.*terraform.tfvars     # variable file
.env                    # variable file
*.pem                   # Keys with pem extension
.git                    # Git directory
.history/            # Git history
.terraform.lock.hcl
id_rsa*
terraform.tfstate
.terraform/
.history/
terraform.tfstate.backup